<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="../node_modules/materialize-css/dist/css/materialize.min.css">
    <link rel="stylesheet" href="../css/style.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <title>Help</title>
</head>

<body>
    <div class="navbar-fixed">
        <nav>
            <div class="nav-wrapper teal darken-1">
                <a href="#" class="brand-logo center ">Deaf</a>
                <ul id="nav-mobile" class="left hide-on-med-and-down">
                    <li><a href="produto.html">Produto</a></li>
                    <li><a href="cliente.html">Cliente</a></li>
                    <li class="active"><a href="venda.html">Venda</a></li>
                    <li><a href="adm.html">Administração</a></li>
                </ul>
            </div>
        </nav>
    </div>
    <h2 class="center">Cadastrar Venda</h2>
    <div class="divider"></div>
    <br>
    <div class="container">
        <div class="row">
            <label>Cliente</label>
            <select v-model="sale.cliente" class="browser-default">
                <option value="" disabled selected>Escolha um Cliente</option>
                <option value="{{c.nome}}" v-for="c in clientes">{{c.nome}}</option>
            </select>
        </div>
    </div>
    <div v-if="sale.cliente != ''">
        <div class="col s6">
            <table class="responsive-table highlight">
                <thead>
                    <tr>
                        <th>Produto</th>
                        <th>Quantidade</th>
                        <th>Preço</th>
                        <th>Total</th>
                        <th></th>
                    </tr>
                </thead>

                <tbody>
                    <tr v-for="venda in vendas" v-if="venda != sale_update">
                        <td>{{venda.produto}}</td>
                        <td>{{venda.qtd}}</td>
                        <td>R$ {{venda.preco}}</td>
                        <td>R$ {{venda.qtd*venda.preco}}</td>
                        <td>
                            <a @click="editSale(venda)" class="waves-effect waves-light btn modal-trigger btn btn-primary"
                                href="#modal1">Editar</a>
                            <a @click="saleRemove(venda)" class="waves-effect waves-light btn btn-primary">Excluir</a>
                        </td>
                    </tr>
                    <tr>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td>Subtotal: R$</td>
                        <td><a @click="finalizarSale()" class="waves-effect waves-light btn modal-trigger btn btn-primary light-blue darken-4">Finalizar Compra</a></td>
                    </tr>
                </tbody>
            </table>
        </div>
        <!-- Botão Floating -->
        <div class="fixed-action-btn">
            <a class="btn tooltipped waves-effect waves-light btn modal-trigger btn-floating btn-large red"
                data-position="top" data-tooltip="I am a tooltip" href="#modal1">
                <i class="large material-icons">add</i>
            </a>
        </div>
    </div>
    <!-- Modal Structure -->
    <div id="modal1" class="modal modal-fixed-footer">
        <div class="modal-content">
            <h4 v-if="mode != 'edicao'" class="center">Cadastrar Cliente</h4>
            <h4 v-if="mode == 'edicao'" class="center">Editar Cliente</h4>
            <div class="divider"></div>
            <br>
            <div class="row">
                <div class="col s9" v-if="mode != 'edicao'">
                    <select v-model="sale.produto" class="browser-default">
                        <option value="" disabled selected>Escolha um Produto</option>
                        <option value="{{p.nome}}" v-for="p in produtos">{{p.nome}}</option>
                    </select>
                </div>
                <div class="col s9" v-if="mode == 'edicao'">
                    <label for="produto">Produto</label>
                    <input id="produto" disabled type="text" class="form-control" v-model="sale.produto" />
                </div>
            </div>
            <div class="row">
                <div class="col s9">
                    <label for="qtd">Quantidade</label>
                    <input id="qtd" type="text" class="form-control" v-model="sale.qtd" placeholder="Quantidade" />
                </div>
            </div>
            <div class="row">
                <div class="col s9">
                    <label for="preco">Preço</label>
                    <input disabled id="preco" type="text" class="form-control" v-model="sale.preco" placeholder="Preço" />
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <a @click="saleStroreOrUpdate()" class="modal-close btn waves-effect waves-light btn-small">Salvar</a>
            <a @click="cancelar()" class="modal-close btn waves-effect waves-light btn-small red accent-4">Cancelar</a>
        </div>
    </div>
    <script src="../node_modules/jquery/dist/jquery.slim.js"></script>
    <script src="../node_modules/materialize-css/dist/js/materialize.min.js"></script>
    <script src="../js/botaoFloating.js"></script>
    <script src="../js/abrirModal.js"></script>
    <script>
        document.addEventListener('DOMContentLoaded', function () {
            var elems = document.querySelectorAll('select');
            var options = {};
            var instances = M.FormSelect.init(elems, options);
        });
    </script>

    <script>
        require('../controller/venda.js');
    </script>
</body>

</html>